<div class="row top">
    <div class="col-md-12">
        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th>#</th>
                    <th>Estado</th>
                    <th>Hora Entrada</th>
                    <th>Fecha Entrada</th>
                    <th>Placa</th>
                    <th>Marca</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let k of vehiculos | keys; let i = index">
                    <th scope="row">{{ vehiculos[k].posicion }}</th>
                    <td>{{ vehiculos[k].horaEntrada }}</td>
                    <td>{{ vehiculos[k].horaSalida }}</td>
                    <td>{{ vehiculos[k].fechaEntrada }}</td>
                    <td>{{ vehiculos[k].fechaSalida }}</td>
                    <td>{{ vehiculos[k].placa }}</td>
                    <td>{{ vehiculos[k].marca }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>