<div class="row top">
    <div class="col-md-12">
        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th>#</th>
                    <th>Estado</th>
                    <th>Hora Entrada</th>
                    <th>Fecha Entrada</th>
                    <th>Placa</th>
                    <th>Marca</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>